<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
        <meta name="description" content="Web app to randomize list items">
        <meta name="keywords" content="list random randomize randomizer">
        <meta name="author" content="Trison Nguyen">
        <meta name="viewport" content="width=device-width,initial-scale=1">

	<title>List Randomizer</title>

	<!-- STYLESHEETS -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
	<div class="container">
		<div id="header">
			List Randomizer
		</div>

	</div>
</body>
</html>
